.projects_container {
    width: 100vw;
    will-change: contents;
    height: 90vh;
    top: -1vh;
    min-height: 566px;
    position: absolute;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    font-family: 'Segoe UI';
}

.project_textarea {
    position: absolute;
    left: 10%;
    top: 1vh;
    margin-top: 5px;
    width: 90vw;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 100%;
}

.project_textarea h1 {
    width: 80vw;
    height: 60px;
    color: #ffd700;
    font-size: 50px;
    margin: 20px 10px 0px 10px;
    padding: 10px;
    font-family: "Coolvetica";
    font-weight: 400;
    animation: fadeIn 1s 0.5s backwards;
    z-index: 5;
    flex: 1 1 100%;
}

.project_area {
    width: 88vw;
}

.project_area h2 {
    width: 85vw;
    height: 25px;
    color: #ffd700;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    font-family: "Coolvetica";
    font-weight: 400;
    animation: fadeIn 1s 0.5s backwards;
}

.project_box {
    width: 270px;
    height: 270px;
    margin: 20px;
    padding: 6px;
    border: 2px solid #ffd700;
    border-radius: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    box-sizing: border-box;
    float: left;
    clear: none;
    animation: pulse 1s;
}

.project_box:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 8px #595959;
    transition: all 0.5s ease;
}

.project_box h3 {
    color: #fff;
    font-size: 25px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;
}

.project_box p {
    text-align: justify;
    font-style: 11px;
    color: #fff;
    font-weight: 300;
    min-width: fit-content;
}

.skill_box {
    width: 250px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    float: left;
    clear: none;
    text-align: center;
}

.skill_box a {
    font-size: 20px;
}

.skill_box a:hover svg {
    color: #ffd700;
    transform: scale(1.4);
    transition: all 0.5s ease;
}