/*Styling used for more than one component*/

.container {
  width: 100vw;
  will-change: contents;
  height: 90vh;
  top: -1vh;
  min-height: 566px;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  font-family: 'Segoe UI';
}

.text_area {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  max-height: 90%;
}

.text_area h1 {
  color: #fff;
  font-size: 53px;
  margin: 0;
  font-family: "Coolvetica";
  font-weight: 400;
}

.text_area h1::before {
  content: "<h1>";
  color: #ffd700;
  font-size: 18px;
  position: absolute;
  margin-top: -50px;
  left: 15px;
  animation: fadeIn 1s 1s backwards;
  opacity: 0.6;
}

.text_area h1::after {
  content: "</h1>";
  color: #ffd700;
  font-size: 18px;
  position: absolute;
  margin-top: 18px;
  margin-left: 20px;
  animation: fadeIn 1s 1s backwards;
  opacity: 0.6;
}

.text_area h2 {
  color: #8d8d8d;
  margin-top: 30px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

.text_area p {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  min-width: fit-content;
  animation: pulse 1s;
}

.text_area2 {
  position: absolute;
  left: 10%;
  top: 0vh;
  margin-top: 5px;
  width: 90vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 100%;
}

.text_area2 h1 {
  width: 80vw;
  height: 50px;
  color: #ffd700;
  font-size: 50px;
  margin: 20px 10px 0px 10px;
  padding: 10px;
  font-family: "Coolvetica";
  font-weight: 400;
  animation: fadeIn 1s 0.5s backwards;
  z-index: 5;
  flex: 1 1 100%;
}

.text_area2 h2 {
  width: 85vw;
  height: 25px;
  color: #ffd700;
  font-size: 30px;
  margin: 0px 10px 0px 10px;
  padding: 10px;
  font-family: "Coolvetica";
  font-weight: 400;
  animation: fadeIn 1s 0.5s backwards;
}

.text_area3 {
  position: absolute;
  left: 10%;
  top: 0vh;
  margin-top: 30px;
  width: 80vw;
  height: 99vh;
  overflow: auto;
  overflow-x: hidden;
}

.text_area3 h1 {
  color: #ffd700;
  font-size: 50px;
  margin: 0;
  font-family: "Coolvetica";
  font-weight: 400;
}

.text_area3 h2 {
  color: #fff;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 3px;
  animation: fadeIn 1s 0.2s backwards;
}

.text_area3 p {
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  animation: fadeIn 1s 0.2s backwards;
  text-align: justify;
}

.text_area3 a{
  color: #fff;
}

.button1 {
  color: #ffd700;
  background: #044362; 
  font-size: 13px;
  font-weight: 400;
  width: 200px;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffd700;
  margin: 5px 30px 0px 0px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
}

.button1:hover {
  background: #ffd700;
  color: #022c43;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.top_tag {
  bottom: auto;
  top: 15px;
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 10%;
  font-size: 18px;
}

.bottom_tag {
  top: 87vh;
  color: #ffd700;
  opacity: 0.6;
  position: absolute;
  bottom: 10px;
  left: 10%;
  font-size: 18px;
}

.html_tag {
  margin-left: -20px;
}

@media (max-width: 860px) {
  .text_area h1::before {
    content: "";
  }
  
  .text_area h1::after {
    content: "";
  }

  .top_tag {
    visibility: hidden;
  }
  
  .bottom_tag {
    visibility: hidden;
  }
  
  .html_tag {
    visibility: hidden;
  }
}

@media (max-width: 575px) {
  .text_area h1 {
    font-size: 40px;
  }

  .text_area2 h1 {
    font-size: 40px;
  }

  .text_area3 h1 {
    font-size: 40px;
  }

  .text_area4 h1 {
    font-size: 40px;
  }

  .text_area2 h2 {
    width: 91vw;
    height: 25px;
    font-size: 22px;
    margin: 0px 20px 0px 20px;
    padding: 0;
  }
}