body {
  margin: 0;
  font-family: 300 12px/1.5 -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #444;
  background: #044362;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

::-webkit-scrollbar {
  width: 0.5vw;
  position: fixed;
}

::-webkit-scrollbar-track {
  background: #444;
  height: 100%;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #043b58;
  border-radius: 100vw;
}

